/* Fonts */
$font: 'Bitter', Arial, Helvetica, sans-serif;
$titleFont: 'Poppins', serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$grey: #555555;
$grey-light: #c4c4c4;
$blue: #00aad2;
$orange: #f29400;
$red: #ad1919;
$green: #198619;

/* Dimensions */
$innerWidth: 1440px;
$innerPadding: 60px;
$innerMobilePadding: 30px;